<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <script>
    let obj =
      "Error: 1010: Invalid Transaction: Inability to pay some fees , e.g. account balance too low";
    var index = obj.lastIndexOf("e.g.");
    obj = obj.substring(index + 4, obj.length);
    console.log(obj);
  </script>
</html>
